@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
*{
    font-family: "Montserrat", sans-serif;
}
/* section1 */
.nav ul{
    display: flex;
   justify-content: end;
}
li{
    list-style: none;
    margin: 0 20px;
    font-size: 30px;
    background-color: rgb(108, 76, 76);
    color: aliceblue;
    padding: 10px;
    border-radius: 10px;

}

.section-1-container{
    display: flex;
    height: 580px;
    width: 1240px;
    align-items: center;
    text-align: center;
    position: relative;
    justify-content: space-between;
    margin-bottom: 20px;
    margin-top: 0%;
}
.section-1-div1 , .section-1-div2{
    height: 100%;
    padding: 10px;
    width: 576px;
}
.section-1-div1{
    position: absolute;
    top: 2%;
}
#img1{
    height: 450px;
    width: 500px;
    position: absolute;
    top: 22%;
    left: 59.5%;
    z-index: 3;
}
#img2{
    height: 450px;
    width: 530px;
    position: absolute;
    top: 22%;
    left: 57%;
    z-index: 2;
}
.section-1-div1 h1{
font-size: 50px;
font-weight: 700;
line-height: 70px;
letter-spacing: 0;
text-align:center;
}
p{
color: rgb(130, 130, 130);
font-size: 20px;
font-weight: 500;
line-height: 25px;
text-align: left;
}
.btn{
    border-radius: 10px;
    border: none;
background: linear-gradient(69.40deg, rgb(251, 162, 79) -6.919%,rgb(255, 30, 30) 144.985%);
color: rgb(255, 255, 255);
font-size: 15px;
font-weight: 600;
line-height: 25px;
letter-spacing: 0%;
text-align: center;
padding: 10px;
margin-top: 30px;
}
/* now responsive section 1 for mobile  */
@media screen and (max-width:576px) {
    .section-1{
        margin: 0 ;
        align-items: center;
        padding: 0;
    position: relative;}
    .nav ul{
        display: flex;
       justify-content: center;
       margin: 0;
       padding: 0;
       width: 560px;

    }
    li{
        font-size: 20px;
        padding: 8px;
        border-radius: 10px;
    
    }
    
    .section-1-container{
        display: flex;
        flex-direction: column;
        height:1200px;
        max-width: 570px;
        margin-bottom: 10px;
        position: relative;
    }
    .section-1-div1 , .section-1-div2{
        height: 550px;
        padding:0;
        width: 500px;
        margin-bottom: 20px;
        position: relative;

    }
    .section-1-div1{
        position: absolute;
        top: 20%;
    }
    .section-1-div1 h1{
        font-size: 40px;
        font-weight: 700;
        line-height: 50px;
        letter-spacing: 0;
        text-align:center;
        }
    #img1{
        height: 450px;
        width: 500px;
        position: absolute;
        top: 130%;
        left: 2%;
        z-index: 3;
    }
    #img2{
        height: 450px;
        width: 500px;
        position: absolute;
        top: 130%;
        left: 2%;
        z-index: 2;
    }
}
/* now responsive section 1 for tablet  */
@media screen and (min-width:577px)  and (max-width:990px){
    .nav ul{ 
        display: flex;
       justify-content: space-around;
       margin: 0;
       padding: 0;
    }
    li{
        list-style: none;
        margin: 0;
    
    }
    
    .section-1-container{
        width: 990px;
    }
    .section-1-div1 , .section-1-div2{
        height: 100%;
        padding: 10px;
        width: 480px;
    }
    .section-1-div1{
        position: absolute;
        top: 8%;
    }
    #img1{
        height: 450px;
        width: 500px;
        position: absolute;
        top: 22%;
        left: 50%;
        z-index: 3;
    }
    #img2{
        height: 450px;
        width: 530px;
        position: absolute;
        top: 22%;
        left: 46%;
        z-index: 2;
    }
    .section-1-div1 h1{
    font-size: 45px;
    }
}

.section-2{
    height: 500px;
    width: 1240px;
    background-image: url(images/shapes/7.png);
    background-size: cover;
     background-repeat: no-repeat;
     background-position: center;
     display: flex;
     justify-content: space-between;
     position: relative;
}
.section-2-img img{
    margin-top: 80px;
    height: 420px;
    width: 300px;
    margin-left: 150px;

}
.section-2-text{
    margin-top:80px ;
    width: 550px;
    height: 500px;
    margin-right: 20px;
}
.section-2-text h2{
    color: rgb(112, 112, 112);
font-family: Montserrat;
font-size: 40px;
font-weight: 700;
line-height: 54px;
letter-spacing: 0%;
text-align: left;
}
/* section-2 responsib for 576px width*/
@media screen and (max-width:576px){
    .section-2{
        height: 500px;
        width: 570px;
         display: flex;
         flex-direction: column;
    }
    .section-2-img img{
        margin-top: 20px;
        height: 400px;
        width: 300px;
        margin-left: 70px;
    }
    .section-2-text{
        margin-top:80px ;
        width: 550px;
        height: 500px;
        margin-right: 20px;
        text-align: center;
    }
}
/* section-2 responsib for tablet*/
@media screen and (min-width:577px)  and (max-width:990px) {
    .section-2{
        height: 500px;
        width: 990px;

        background-size: cover;
         background-repeat: no-repeat;
         background-position: center;
         display: flex;
         justify-content: space-between;
    }
    .section-2-img img{
        margin-top: 80px;
        height: 420px;
        width: 300px;
        margin-left: 20px;
    
    }
    .section-2-text{
        margin-top:40px ;
        width: 600px;
        height: 500px;
        margin-right: 20px;
    }
}
